* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

.container {
  min-height: 100vh;
  width: 100vw;
  padding: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: column;
  flex-direction: column;
}

.container div {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  margin-top: 2rem;
}


.container input {
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.container button {
  display: inline-block;
  width: 30rem;
  margin: 0 auto;
}